<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8">

    <title>Gissa vem!</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css"
        integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA=="
        crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <style>
        html,
        body {
            height: 100%;
            background-color: cornflowerblue;
            overflow-y: auto;
        }

        #center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .wide {
            width: 100%
        }
    </style>
</head>

<body>
    <div class="box" id="center">
        <h3 class="title">Gissa vem!</h3>
        <table class="table">
            <tr>
                <td><input type="text" placeholder="Spelarnamn" v-model="uname" /></td>
                <td><input type="text" placeholder="Rum-id" v-model="roomid" /></td>
            </tr>
            <tr>
                <td><button class="button wide" v-on:click="newroom">Nytt rum</button></td>
                <td><button class="button wide" v-on:click="joinroom">Gå med i rum</button></td>
            </tr>
        </table>
    </div>
</body>
<script>
    app = new Vue({
        el: '#center',
        data: {
            uname: Cookies.get("username"),
            roomid: "",
        },
        methods: {// TODO add validation
            newroom: function () {
                Cookies.set("username", this.uname, {path: ""})
                window.location.href = "/newroom"
            },
            joinroom: function () {
                Cookies.set("username", this.uname, {path: ""})
                window.location.href = "/room/" + this.roomid
            }
        }
    })
</script>

</html>