<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8">
    <base href="../">

    <title>Gissa vem!</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css"
        integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA=="
        crossorigin="anonymous" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"
        integrity="sha512-Jq1JnVXlkYQOYQpz31qIV/0l67d97J9I6sbILtfiSYX00Isr2zK7XDRmHW8d2iBTwNZfL7sHkHGT0EzLs90jdw=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"
        integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A=="
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script defer src="app/room.js"></script>

    <link rel="stylesheet" href="static/style.css" />
</head>

<body>
    <section class="section h100" id="app">
        <div class="container is-fluid h100">
            <div class="columns h100">
                <div class="column is-one-fifth h100">
                    <div class="rows h100">
                        <div class="box row" style="height:20%">
                            <a class="button has-background-danger-dark has-text-white" href=".">Lämna rum</a>
                        </div>
                        <div class="box row" style="height:80%">
                            <div>
                                <h4 class="title is-size-4">Din karaktär</h4>
                            <div class="box">
                                <img v-bind:src="self.image" /><br>
                                <span class="has-text-centered wide">{{ self.name }}</span>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column" id="app">
                    <div class="rows h100">
                        <div class="row box h100" style="overflow-y: auto;background-color: lightsalmon;">
                            <div v-for="character in characters" class="box card character" v-bind:class="{active: character.active}" v-on:click="character.active = !character.active">
                                <img v-bind:src="character.image"/><br>
                                <span class="has-text-centered wide">{{ character.name }}</span>
                            </div>

                            <p class="is-size-7 has-text-centered">
                                Tack till <a href="https://github.com/NVlabs/stylegan2">Nvidia</a> för GDPR-vänliga bilder av icke-existerade personer, samt till
                                <a
                                    href="https://www.statistikdatabasen.scb.se/pxweb/sv/ssd/START__BE__BE0001__BE0001D/BE0001Nyfodda/">SCB</a> för alla fantastiska namn!
                            </p>
                        </div>
                    </div>
                    <p class="is-size-7 has-text-centered">&#129462; &#9834;</p>
                </div>


                <div class="column is-one-quarter h100">
                    <div class="rows h100">
                        <div class="row box h100" style="display: flex;flex-direction: column;">
                            <h3 class="title">Chatt</h3>
                            <div style="overflow-y: auto;" class="rows">
                                <div v-for="message in chat" class="row">
                                    <div v-if="!message.fromSelf()"
                                        class="box has-background-grey-lighter mb-2 other-message">
                                        {{ message.content }}
                                    </div>
                                    <div v-if="message.fromSelf()"
                                        class="box has-background-link has-text-white has-text-right mb-2 own-message">
                                        {{ message.content }}
                                    </div>
                                </div>
                            </div>
                            <input type="text" v-model="draftmessage" v-on:keydown="chatkeydown"
                                placeholder="Skriv något" style="margin-top: auto;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>