html,
body {
    background-image: url('lucas-benjamin-wQLAGv4_OYs-unsplash.jpg');
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;

    overflow-y: auto;
    min-height: 600px;
    min-width: 800px;
}

html,
body,
.h100 {
    height: 100%;
}

.box {
    background-color: rgba(255,255,255,0.9)
}

.box table.table {
    border-radius: 6px;
    background-color: rgba(255,255,255,0.8)
}

#center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: min-content;
}

.wide {
    width: 100%
}

table.borderless tr td, tr.borderless td, td.borderless {
    border: none;
}


.other-message,
.own-message {
    max-width: 100%;
    overflow-wrap: break-word;
    width: max-content;
}

.own-message {
    float: right;
    margin-left: 100%;
}

.other-message {
    float: left;
    margin-right: 100%;
}

.box.card {
    max-width: 20%;
    /*max-height: 25%;*/
    display: inline-grid
}

.character {
    transition-property: filter font-style;
    transition-duration: 0.2s;
}

.character.active{
    filter: grayscale(0);
}

.character:not(.active) {
    filter: grayscale(1);
    font-style: italic;
}

.filedrop {
    text-align: center;
}